# Logs
*.log
logs/

# Data and Config
.env
prompts.txt
.last_run
.tavily_cache.json
*.json
!prompts.example.json
env/
venv/
.Python

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
